
node_modules/
electron/node_modules/
react-ui/node_modules/


dist/
electron/dist/
react-ui/dist/


npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.env
.env.local


react-ui/.vite/


.vscode/
.idea/


.DS_Store
Thumbs.db
